html,
body {
    margin: 0;
    padding: 0;
}

main {
    background-image: url(../image/golf-bg-1.jpg);
    background-size: cover;
    // display: flex;
    position: relative;
    top: 0;
    width: 100%;
    min-height: 100vh;

    .score-row {
        padding-top: 5em;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.playerScore {
    input {
        text-align: center;
        padding: 0;
    }
    
    input:is(:disabled) {
        background-color: transparent;
        border: none;
        color: #ffffff !important;
    }
}

.score-counter {
    input {
        color: #ffffff;
    }
}

.table {
    text-align: center;
}

.container-alert {
    display: none;
    width: 20%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100000;
}

.row {
    overflow-x: scroll !important;
}

.row-header {
    margin-bottom: 40px;
    .col-md-12 {
        margin-bottom: 20px;
    }
}

.alert {
    // width: 30%;
    float: right;
    z-index: 10000;
    // position: absolute !important;
    top: 0;
    right: 0;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.modal {
    .modal-content {
        background: RGBA(233,196,106,0.7);
        backdrop-filter: blur(5px);
        
        .modal-header, .modal-body, .modal-footer {
            border: none;
        }

        .modal-header {
            h1 {
                text-align: center;
                font-weight: bold;
            }
        }
    
        .modal-body {
            .form-container {
                .row {
                    margin: 15px auto;
                    label {
                        color: #333333;
                    }
                }
            }
        }

        .modal-footer {
            justify-content: space-between;
        }
    }
}